{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">Note Details</div>
                <div class="card-body">
                    <hi class="fs-5">{{note.title}}</hi>
                    <p>{{note.text}}</p>
                </div>
                <div class="card-footer">
                    <a href="{% url 'notes.list' %}" class="btn btn-sm btn-primary">Back</a>
                    <a href="{% url 'notes.update' pk=note.id %}" class="btn btn-sm btn-warning">Edit</a>
                    <a href="{% url 'notes.delete' pk=note.id %}" class="btn btn-sm btn-danger">Delete</a>
                </div>
        </div>
    </div>
</div>
{% endblock %}
